.git
target
**/target
**/.mvn
.idea
*.iml
docker
docs
mobile_app
desktop_app
curl-api-tests.txt
curl-postman-ready.txt
test-runner.html
docker-compose.yml
docker-compose.infra.yml
.env.example
.gitignore
.gitattributes
